/* Убираем подчеркивание */
a {
    text-decoration: none;
   }
/* Главная страница */
   body {
    background: white;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', arial;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
     }
/* Шапка */
.razvivaem {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap-logo {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wrap-logo img {
    width: 13%;
    margin-right: 1vw;
}
.wrap-logo p {
    font-size: 1vw;
    line-height: 120%;
    letter-spacing: 0.05vw;
    color: #4F6576;
    font-weight: 700;
}
.wrap-logo__lipetsk {
    color: #4D94FB;
}
.wrap-logo__link {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 1vw;
    color: #1F1F1F;
}
.wrap-logo__link p {
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 15px;
}
/* Навигация */
nav {
    padding: 0vw 10%;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}
.nav-links {
    width: 74.5%;
    display: flex;
    justify-content: space-between;
}
.nav-links a {
    font-size: 1vw;
    font-weight: 500;
    line-height: 156%;
    color: #808080;
    padding: 0.9vw 0;
}
/* Слайдер */
.slider{
    max-width: 100%;
    position: relative;
}
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}
.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* ТекстСлайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 45px;
    left: 60%;
    top: 20%;
    transform: translate(-50%, -50%);
}
.slideText2 {
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 75%;
    top: 70%;
    transform: translate(-50%, -50%);
}
.slideText3 {
    position: absolute;
    color: #fff;
    font-size: 23px;
    left: 80%;
    top: 90%;
    transform: translate(-50%, -50%);
}
/* Актуальные темы */
.act {
    padding: 4vw 10%;
    display: flex;
    flex-direction: column;
    background: #fff;
}
.act_title { 
    font-size: 2.5vw;
}
.act_items-wrap {
    display: flex;
}
.act_items-wrap2 {
    width: 90%;
    display: flex;
}
.act__block, .act__block-full,  .act__block-wide{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    border: 0.03vw solid #EAEAEA;
    padding: 1vw 1.5vw 1.35vw 2.29vw;
    text-decoration: none;
    margin-right: 1vw;
    margin-bottom: 1vw;
}
.act__block-full {
    width: 49%;
    margin-right: 0;
    justify-content: center;
}
.act__block-btn__img {
    padding: 1.9vw 0;
    text-align: center;
    align-items: center;
    border: 0.03vw solid #EAEAEA;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 10%;
    letter-spacing: 0.02vw;
    color: #5988FF;
    user-select: none;
    width: 10%;
}
.act-block-img {
    width: 3.12vw;
    margin-right: 1.6vw;
}
.act-block-txt {
    font-style: normal;
    font-weight: 500;
    font-size: 0.98vw;
    color: #1E1E1E;
}
/* Результаты */
.rezult {
    padding: 4vw 10%;
    background: #edebeb;
}
.wrap-rezult {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rezult-blok {
    width: 32%;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding-bottom: 3vw;
}
.rezult-vopros {
    padding: 0 2vw;
    margin-top: 1.7vw;
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    line-height: 140%;
    letter-spacing: 0.02vw;
    color: #1F1F1F;
}
.rezult-text {
    padding: 0 2vw;
    font-weight: 500;
    font-size: 1vw;
    line-height: 150%;
    letter-spacing: 0.02vw;
    color: #3B3B3B;
}
/* Проблемы */
.instr {
    padding: 4vw 10%;
    display: flex;
    background: #5988FF;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper-instr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.instr-left-title {
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.instr-left {
    width: 40%;
}
.instr-right {
    width: 47%;
    text-align: left;
}
.instr-right img {
    width: 72%;
    border-radius: 20px;
}
.instr-left-modalnoe {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 2vw;
    background: #fff;
    padding: 2vw 4vw 3vw 2vw;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}
.instr-left-modalnoe-txt {
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #3B3B3B;
    margin-bottom: 2vw;
}
.instr-left-modalnoe-btn {
    background: #5988FF;
    padding: 0.8vw 5vw;
    color: #fff;
    font-size: 1.2vw;
    margin-top: 10vw;
}
/* Инструкция текст */
.instr-text {
    padding: 4vw 10%;
    background: #F8F8F8;
}
.instr-text-blocks {
    border-radius: 15px;
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw 2vw 4vw 2vw;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.instr-text-blocks__block {
    width: 29%;
    border-radius: 15px;
    box-sizing: border-box;
}
.__blocks__block__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 140%;
    letter-spacing: 0.02vw;
    color: #1F1F1F;
    margin-bottom: 1.2vw;
}
/* Информационные ресурсы */
.info {
    padding: 4vw 10%;
    background: #5988FF;
}
.info-title {
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.info-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vw;
}
.info-wrap-item {
    width: 30%;
    box-sizing: border-box;
    padding: 2vw 1.5vw;
    background: #FFFFFF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3vw;
    line-height: 130%;
    color: #1F1F1F;
}